@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif !important;
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}

main {
    margin-top: 50px !important;
    flex: 1 !important;
}

.nav-item {
    margin-right: 10px;
    margin-left: 10px;
}

.row-space {
    margin-top: 20px;
}

