{% extends "layout.html" %}
{% block contenuto %}
    <div class="row">
        <div class="col-sm">
            <!-- Accesso -->
            <div class="card row-space">
                <h5 class="card-header">
                    Accesso
                </h5>
                <div class="card-body">
                    <form action="/utente/accesso" method="post">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email"
                                               placeholder="E-mail"
                                               name="email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password"
                                               placeholder="Password"
                                               name="pass" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-sm">
                                    <button type="submit" class="btn btn-warning btn-block">Accedi</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <!-- Registrazione -->
            <div class="card row-space">
                <h5 class="card-header">
                    Registrazione
                </h5>
                <div class="card-body">
                    <form action="/utente/registrazione" method="post">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="name">Nome</label>
                                        <input type="text" class="form-control" id="name"
                                               placeholder="Nome"
                                               name="new_name" required>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="surname">Cognome</label>
                                        <input type="text" class="form-control" id="surname"
                                               placeholder="Cognome"
                                               name="new_surname" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="new_email">Email</label>
                                        <input type="email" class="form-control" id="new_email"
                                               placeholder="E-mail"
                                               name="new_email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password"
                                               placeholder="Password"
                                               name="new_pass" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-sm">
                                    <button type="submit" class="btn btn-warning btn-block">Registrati
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenuto %}




