{% extends "layout.html" %}
{% block contenuto %}
    <div class="card row-space">
        <h5 class="card-header">
            {% if book_outbound %}
                Voli andata disponibili
            {% else %}
                Voli ritorno disponibili
            {% endif %}
        </h5>
        <div class="card-body">
            {% for row in results %}
                <form action="/prenotazione" method="POST">
                    <div class="card row-space">
                        <div class="container">
                            <div class="row row-space">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="FromResult">Da:<br>{{ row['departure_airport'] }} </label>
                                        <input type="hidden" class="form-control" id="FromResult"
                                               name="departure_airport"
                                               value="{{ row['departure_airport'] }}">
                                        {% if flyReturnDate %}
                                            <input type="hidden" class="form-control" name="province_from"
                                                   value="{{ row['province_from'] }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="ToResult">A:<br>{{ row['arrival_airport'] }} </label>
                                        <input type="hidden" class="form-control" id="ToResult"
                                               name="arrival_airport"
                                               value="{{ row['arrival_airport'] }}">
                                        {% if flyReturnDate %}
                                            <input type="hidden" class="form-control" name="province_to"
                                                   value="{{ row['province_to'] }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="DateStartResult">Partenza:<br>{{ row['departure_time'] }}
                                        </label>
                                        <input type="hidden" class="form-control" id="DateStartResult"
                                               name="fly_dep_date"
                                               value="{{ row['departure_time'] }}">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="DateEndResult">Arrivo:<br>{{ row['arrival_time'] }} </label>
                                        <input type="hidden" class="form-control" id="DateEndResult"
                                               name="fly_arrival_date"
                                               value="{{ row['arrival_time'] }}">
                                        {% if flyReturnDate %}
                                            <input type="hidden" class="form-control" name="fly_return_date"
                                                   value="{{ flyReturnDate }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="PlaneCode">Aereo:<br>{{ row['plane_code'] }} </label>
                                        <input type="hidden" class="form-control" id="PlaneCode"
                                               name="plane_code"
                                               value="{{ row['plane_code'] }}">
                                        <input type="hidden" class="form-control" name="flight_code"
                                               value="{{ row['flight_code'] }}">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="SeatNumber">Posto</label>
                                        <!-- Vengono visualizzati tutti i posti dell'aereo - posti prenotati -->
                                        <select class="form-control" id="SeatNumber" name="seats" required>
                                            {% for char in column_char %}
                                                {% for num in range(1,((row['seats']/5) + 1)|int) %}
                                                    {% if not char+num|string in booked_seats[row['flight_code']] %}
                                                        <option value="{{ char+'-'+num|string }}">{{ char+num|string }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        {% if logged_in %}
                                            {% if permission == 0 %}
                                                {% if book_outbound %}
                                                    <label FOR="Book">Prenota subito!</label>
                                                    <button type="submit" name="book_outbound" value="True"
                                                            class="btn btn-warning" id="Book">Prenota
                                                    </button>
                                                    {% if flyReturnDate %}
                                                        <input type="hidden" name="book_return" value="False"/>
                                                        <input type="hidden" name="return" value="True"/>
                                                    {% else %}
                                                        <input type="hidden" name="return" value="False"/>
                                                        <input type="hidden" name="book_return" value="True"/>
                                                    {% endif %}
                                                    <input type="hidden" name="search" value="False"/>
                                                {% else %}
                                                    <label FOR="Book">Prenota subito!</label>
                                                    <button type="submit" name="book_return" value="True"
                                                            class="btn btn-warning" id="Book">
                                                        Prenota
                                                    </button>
                                                    <input type="hidden" name="book_outbound" value="False"/>
                                                    <input type="hidden" name="search" value="False"/>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <a href="/utente/autenticazione" class="btn btn-warning">Accedi /
                                                Registrati</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock contenuto %}