{% extends "layout.html" %}
{% block contenuto %}
    <div class="container text-center">
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <h1>AUTORI</h1>
        <h4>Leonardo Mazzon 868445</h4>
        <h4>Giulio Nicola 875297</h4>
        <h4>Alessandro Piazza 869386</h4>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
    </div>
{% endblock contenuto %}