{% extends "layout.html" %}
{% block contenuto %}
    <!-- Script per disabilitare calendario -->
    <script src="{{ url_for('static', filename='js/datepicker_enabled_disabled.js') }}"></script>
    <!-- Form ricerca voli -->
    <div class="card">
        <h5 class="card-header">
            Dove vuoi andare?
        </h5>
        <div class="card-body">
            <form action="/" method="POST">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="FromInput">Da</label>
                                <input type="text" class="form-control" id="FromInput" placeholder="Città"
                                       name="fly_from" list="airport" required>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="ToInput">A</label>
                                <input type="text" class="form-control" id="ToInput" placeholder="Città"
                                       name="fly_to" list="airport" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label>Tipo di viaggio</label>
                            <div class="col-sm">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="OnewayRadioInput" name="flight_type"
                                           class="custom-control-input" checked value="fromOnly">
                                    <label class="custom-control-label" for="OnewayRadioInput">Andata</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="RoundtripRadioInput" name="flight_type" value="fromTo"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="RoundtripRadioInput">Andata e
                                        ritorno</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <label for="DateStart">Partenza</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="DateStart" data-provide="datepicker"
                                       data-date-format="dd/mm/yyyy" placeholder="gg/mm/aaaa" name="fly_dep_date"
                                       required>
                            </div>
                        </div>
                        <div class="col-sm">
                            <label for="DateEnd">Ritorno</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="DateEnd" data-provide="datepicker"
                                       data-date-format="dd/mm/yyyy" placeholder="gg/mm/aaaa" name="fly_return_date"
                                       required disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-sm">
                            <button type="submit" class="btn btn-warning btn-block rounded-pill">Cerca</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if dynamiclist %}
        <datalist id="airport">
            {% for row in dynamiclist %}
                <option value="{{ row['city'] }}"></option>
            {% endfor %}
        </datalist>
    {% endif %}

{% endblock contenuto %}