{% extends "layout.html" %}
{% block contenuto %}
    {% if invalid %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Vecchia password errata.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <!-- Dati utente -->
    <div class="card">
        <h5 class="card-header">
            Dati personali
        </h5>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="Name">Nome</label>
                            <input type="text" id="Name" class="form-control" placeholder="{{ name }}" disabled>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="Surname">Cognome</label>
                            <input type="text" id="Surname" class="form-control" placeholder="{{ surname }}" disabled>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="text" id="Email" class="form-control" placeholder="{{ email }}" disabled>
                        </div>
                    </div>
                </div>
                <form action="/utente/profilo/cambio_password" method="POST"
                      oninput='new_psw.setCustomValidity(old_psw.value === new_psw.value ? "Password invariata" : "")'>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="OldPsw">Vecchia password</label>
                                <input type="password" id="OldPsw" class="form-control" name="old_psw"
                                       placeholder="Vecchia password"
                                       required>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="NewPsw">Nuova password</label>
                                <input type="password" id="NewPsw" class="form-control" name="new_psw"
                                       placeholder="Nuova password"
                                       required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm row-space">
                            <a href="/utente/profilo/logout" class="btn btn-warning">Logout</a>
                        </div>
                        <div class="col-sm row-space">
                            <button type="submit" class="btn btn-warning">Cambia password</button>
                        </div>
                        <div class="col-sm row-space">
                            <a href="/utente/profilo/logout" class="btn btn-danger">Elimina account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container row-space">
        <div class="row">

        </div>
    </div>
    <!-- Voli prenotati -->
    <div class="card row-space">
        <h5 class="card-header">
            Voli prenotati
        </h5>
        <div class="card-body">
            {% if bookings %}

            {% else %}
                Nessuna prenotazione
            {% endif %}
        </div>
    </div>
{% endblock contenuto %}