{% extends "layout.html" %}
{% block contenuto %}
    {% if invalid %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Vecchia password errata.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <!-- Dati utente -->
    <div class="card">
        <h5 class="card-header">
            Dati personali
        </h5>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="Name">Nome</label>
                            <input type="text" id="Name" class="form-control" placeholder="{{ name }}" disabled>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="Surname">Cognome</label>
                            <input type="text" id="Surname" class="form-control" placeholder="{{ surname }}" disabled>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="text" id="Email" class="form-control" placeholder="{{ email }}" disabled>
                        </div>
                    </div>
                </div>
                <form action="/utente/profilo/cambio_password" method="POST"
                      oninput='new_psw.setCustomValidity(old_psw.value === new_psw.value ? "Password invariata" : "")'>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="OldPsw">Vecchia password</label>
                                <input type="password" id="OldPsw" class="form-control" name="old_psw"
                                       placeholder="Vecchia password"
                                       required>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="NewPsw">Nuova password</label>
                                <input type="password" id="NewPsw" class="form-control" name="new_psw"
                                       placeholder="Nuova password"
                                       required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm row-space">
                            <a href="/utente/profilo/logout" class="btn btn-warning">Logout</a>
                        </div>
                        <div class="col-sm row-space">
                            <button type="submit" class="btn btn-warning">Cambia password</button>
                        </div>
                        <div class="col-sm row-space">
                            <a href="/utente/profilo/logout" class="btn btn-danger">Elimina account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container row-space">
        <div class="row">

        </div>
    </div>
    <!-- Voli prenotati -->
    <div class="card row-space">
        <h5 class="card-header">
            Voli prenotati
        </h5>
        <div class="card-body">
            {% for row in bookings %}
                <div class="card row-space">
                    <div class="container">
                        <div class="row row-space">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="FromResult">Da:<br>{{ row['departure_airport'] }} </label>
                                    <input type="hidden" class="form-control" id="FromResult"
                                           name="departure_airport"
                                           value="{{ row['departure_airport'] }}">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="ToResult">A:<br>{{ row['arrival_airport'] }} </label>
                                    <input type="hidden" class="form-control" id="ToResult"
                                           name="arrival_airport"
                                           value="{{ row['arrival_airport'] }}">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="DateStartResult">Partenza:<br>{{ row['departure_time'] }}
                                    </label>
                                    <input type="hidden" class="form-control" id="DateStartResult"
                                           name="fly_dep_date"
                                           value="{{ row['departure_time'] }}">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="DateEndResult">Arrivo:<br>{{ row['arrival_time'] }} </label>
                                    <input type="hidden" class="form-control" id="DateEndResult"
                                           name="fly_arrival_date"
                                           value="{{ row['arrival_time'] }}">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="PlaneCode">Aereo:<br>{{ row['plane_code'] }} </label>
                                    <input type="hidden" class="form-control" id="PlaneCode"
                                           name="plane_code"
                                           value="{{ row['plane_code'] }}">
                                    <input type="hidden" class="form-control" name="flight_code"
                                           value="{{ row['flight_code'] }}">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="SeatNumber">Posto:<br>{{ row['seat_column'] }}{{ row['seat_number'] }}
                                    </label>
                                    <input type="hidden" class="form-control" id="SeatNumber"
                                           name="seat_column"
                                           value="{{ row['seat_column'] }}">
                                    <input type="hidden" class="form-control" name="seat_number"
                                           value="{{ row['seat_number'] }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock contenuto %}